# Module 6. Data Manipulation and Analysis with Pandas.

**_Author: Favio Vázquez_**

**_Reviewer: Jessica Cervi_**

**Expected time = 3 hours**

**Total points = 105 points**

## Assignment Overview

In this assignment you will manipulate and analyze data with Pandas. You will begin by reviewing how to read data into a series or dataframe, then you will use additional functionalities of Pandas objects. After that, you will index, select and edit data inside dataframes. In the final parts of the assignment you will be combining, grouping and aggregating dataframes.

This assignment is designed to build your familiarity and comfort coding in Python while also helping you review key topics from each module. As you progress through the assignment, answers will get increasingly complex. It is important that you adopt a data scientist's mindset when completing this assignment. **Remember to run your code from each cell before submitting your assignment.** Running your code beforehand will notify you of errors and give you a chance to fix your errors before submitting. You should view your Vocareum submission as if you are delivering a final project to your manager or client. 

***Vocareum Tips***
- Do not add arguments or options to functions unless you are specifically asked to. This will cause an error in Vocareum.
- Do not use a library unless you are explicitly asked to in the question. 
- You can download the Grading Report after submitting the assignment. This will include feedback and hints on incorrect questions.


### Learning Objectives

- Use Pandas to build, extract, filter, and transform DataFrames.
- Describe Pandas data structures: DataFrames and Series.  
- Use Pandas objects for analyses.

## Index:

#### Module 6: Data Manipulation and Analysis with Pandas.

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)
- [Question 8](#Question-8)
- [Question 9](#Question-9)
- [Question 10](#Question-10)
- [Question 11](#Question-11)
- [Question 12](#Question-12)
- [Question 13](#Question-13)
- [Question 14](#Question-14)

In [6]:
# Let's start by importing Pandas
import pandas as pd

# Avoid warnings
import warnings
warnings.filterwarnings("ignore")

### Importing data

We will begin this assignment with a review of how to import data with Pandas. For several parts of this assignment we will be using two datasets coming from the past 120 years of Olympic history: athletes and results. This dataset is saved inside the folder `/data`; more information about this dataset can be found on Kaggle at this link:

https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. 

The file `athlete_events.csv` contains 271116 rows and 15 columns. Each row corresponds to an individual athlete competing in an individual Olympic event (athlete-events). The columns are:

- ID - Unique number for each athlete
- Name - Athlete's name
- Sex - M or F
- Age - Athlete's age
- Height - In centimeters
- Weight - In kilograms
- Team - Team name
- NOC - National Olympic Committee 3-letter code
- Games - Year and season
- Year - Year of game
- Season - Summer or Winter
- City - Host city
- Sport - Sport
- Event - Event
- Medal - Gold, Silver, Bronze, or NA

The file `noc_regions.csv` contains 230 rows and 3 columns. Each row contains information about the different National Olympic Committee (NOC). The columns are:

- NOC - National Olympic Committee abreviation
- region - Name of country in NOC
- notes - Notes about the region and NOC


[Back to top](#Index:)

### Question 1
*5 points*

Read the CSV file named `"athlete_events.csv"` contained in the `data/` folder and assign it to a dataframe called `df`.

In [7]:
### GRADED

### YOUR SOLUTION HERE
df = pd.read_csv('data/athlete_events.csv')
df
###
### YOUR CODE HERE
###

FileNotFoundError: [Errno 2] File data/athlete_events.csv does not exist: 'data/athlete_events.csv'

In [8]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

In [9]:
# Let's take a look at our dataframe df
df.head()

NameError: name 'df' is not defined

In [10]:
# Let's see the shape of out dataframe df
print("Number of rows: {}, number of columns: {}".format(df.shape[0],df.shape[1]))

NameError: name 'df' is not defined

[Back to top](#Index:) 

### Question 2
*5 points*

Read the CSV file named `"noc_regions.csv"` in the `data/` folder and assign it to a dataframe called `regions`.

In [11]:
### GRADED

### YOUR SOLUTION HERE
regions = pd.read_csv('data/noc_regions.csv')
regions

###
### YOUR CODE HERE
###

FileNotFoundError: [Errno 2] File data/noc_regions.csv does not exist: 'data/noc_regions.csv'

In [12]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

In [13]:
# count of values
regions['region'].value_count()

NameError: name 'region' is not defined

In [ ]:
# outputs each column and the sum of nulls in that column
df.isnull().sum()

In [20]:
# Let's take a look at our dataframe regions
regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [21]:
# Let's see the shape of out dataframe regions
print("Number of rows: {}, number of columns: {}".format(regions.shape[0],regions.shape[1]))

Number of rows: 230, number of columns: 3

### Pandas Objects

In this part of the assignment we will begin studying the two most important objects exposed by Pandas: Series and Dataframes. As you remember:
- **Series** is a 1 dimensional data structure in Pandas.
- **DataFrame** is a 2 dimentional data structure in Pandas, made up of columns and rows.

[Back to top](#Index:) 

### Question 3
*5 points*

Select a series from the dataframe `df` with the contents of the column `Height` and store it in a variable called `height`.

In [22]:
### GRADED

### YOUR SOLUTION HERE
height = df["Height"]
height
###
### YOUR CODE HERE
###

0         180.0
1         170.0
2           NaN
3           NaN
4         185.0
5         185.0
6         185.0
7         185.0
8         185.0
9         185.0
10        188.0
11        188.0
12        188.0
13        188.0
14        188.0
15        188.0
16        188.0
17        188.0
18        183.0
19        183.0
20        183.0
21        183.0
22        183.0
23        183.0
24        183.0
25        183.0
26        168.0
27        168.0
28        186.0
29          NaN
          ...
271086    177.0
271087    189.0
271088    189.0
271089    192.0
271090    192.0
271091    200.0
271092    182.0
271093    182.0
271094    182.0
271095    182.0
271096    182.0
271097    182.0
271098    182.0
271099    171.0
271100      NaN
271101    173.0
271102    171.0
271103    171.0
271104    172.0
271105    168.0
271106    168.0
271107    175.0
271108    183.0
271109    183.0
271110    171.0
271111    179.0
271112    176.0
271113    176.0
271114    185.0
271115    185.0
Name: Height, Length: 271116, dtype: float64

In [23]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 4
*10 points*

In the videos, you have seen how you can use the function `map` to transform the entries of a `pandas` `series`.
In a similar way, you can use the function `rename` to replace the entries of a series. Like `map`, `rename` takes as argument a lambda function executing the desired transformation on the `series`.

The syntax is as follows
```Python
new_series = series.rename(lambda x: your function)
```

Use the function `rename` to rename the index (or labels) of the series `height` by raising each old label to the power of two, like so:

$$
0 \rightarrow 0 \\
1 \rightarrow 1 \\
2 \rightarrow 4 \\
3 \rightarrow 9 \\
\vdots
$$

Save this new series in a variable called `height_new`.

In [24]:
### GRADED

### YOUR SOLUTION HERE
height_new = height.rename(lambda x:x**2)

height_new.head()

###
### YOUR CODE HERE
###

0     180.0
1     170.0
4       NaN
9       NaN
16    185.0
Name: Height, dtype: float64

In [25]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 5
*5 points*

Select a series from the dataframe `regions` with the contents of the column `region` and store it in a variable called `reg`.

In [26]:
### GRADED

### YOUR SOLUTION HERE
reg = regions["region"]
reg.head()


###
### YOUR CODE HERE
###

0    Afghanistan
1        Curacao
2        Albania
3        Algeria
4        Andorra
Name: region, dtype: object

In [27]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 6
*5 points*
    
You can also select multiple columns at once from a dataframe to create a new dataframe.


Create a new dataframe from the dataframe `df`, that only contain the columns `ID`, `Age`, `Height`, `Weight` and `Sex` in this specific order. Name this new dataframe `df_subset`.

In [28]:
### GRADED

### YOUR SOLUTION HERE
df_subset = df[["ID", "Age", "Height", "Weight", "Sex"]]
df_subset.head()

###
### YOUR CODE HERE
###

   ID   Age  Height  Weight Sex
0   1  24.0   180.0    80.0   M
1   2  23.0   170.0    60.0   M
2   3  24.0     NaN     NaN   M
3   4  34.0     NaN     NaN   M
4   5  21.0   185.0    82.0   F

In [29]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

Let's have a look at the dataframe `df_subset` by using the command `.head()`

In [30]:
df_subset.head()

   ID   Age  Height  Weight Sex
0   1  24.0   180.0    80.0   M
1   2  23.0   170.0    60.0   M
2   3  24.0     NaN     NaN   M
3   4  34.0     NaN     NaN   M
4   5  21.0   185.0    82.0   F

[Back to top](#Index:) 

### Question 7
*10 points*
    
Observe the dataframe `df_subset`, above. You see that the column `Sex` contains entries `M` and `F` based on whether an athlete was a male or a female, respectively.

Create a new column, `New sex`, in our dataframe. Fill this column by using the function `map` to change the entries of the column `sex` from `M` to `male` and from `F` to `female`.

The syntax is as follows
```Python
dataframe['column'] = dataframe.column.map(lambda x: your function)
```

**HINT: Notice that we are adding a new column, not replacing an existing one!**

In [31]:
### GRADED

### YOUR SOLUTION HERE

df_subset['New sex'] = df_subset.Sex.map(lambda x: 'male' if x == 'M' else 'female')

df_subset




###
### YOUR CODE HERE
###

            ID   Age  Height  Weight Sex New sex
0            1  24.0   180.0    80.0   M    male
1            2  23.0   170.0    60.0   M    male
2            3  24.0     NaN     NaN   M    male
3            4  34.0     NaN     NaN   M    male
4            5  21.0   185.0    82.0   F  female
5            5  21.0   185.0    82.0   F  female
6            5  25.0   185.0    82.0   F  female
7            5  25.0   185.0    82.0   F  female
8            5  27.0   185.0    82.0   F  female
9            5  27.0   185.0    82.0   F  female
10           6  31.0   188.0    75.0   M    male
11           6  31.0   188.0    75.0   M    male
12           6  31.0   188.0    75.0   M    male
13           6  31.0   188.0    75.0   M    male
14           6  33.0   188.0    75.0   M    male
15           6  33.0   188.0    75.0   M    male
16           6  33.0   188.0    75.0   M    male
17           6  33.0   188.0    75.0   M    male
18           7  31.0   183.0    72.0   M    male
19           7  31.0   183.0    72.0   M    male
20           7  31.0   183.0    72.0   M    male
21           7  31.0   183.0    72.0   M    male
22           7  33.0   183.0    72.0   M    male
23           7  33.0   183.0    72.0   M    male
24           7  33.0   183.0    72.0   M    male
25           7  33.0   183.0    72.0   M    male
26           8  18.0   168.0     NaN   F  female
27           8  18.0   168.0     NaN   F  female
28           9  26.0   186.0    96.0   M    male
29          10  26.0     NaN     NaN   M    male
...        ...   ...     ...     ...  ..     ...
271086  135555  23.0   177.0    68.0   M    male
271087  135556  19.0   189.0    80.0   M    male
271088  135556  19.0   189.0    80.0   M    male
271089  135557  34.0   192.0    95.0   M    male
271090  135557  38.0   192.0    95.0   M    male
271091  135558  32.0   200.0    89.0   M    male
271092  135559  21.0   182.0    79.0   M    male
271093  135559  21.0   182.0    79.0   M    male
271094  135559  25.0   182.0    79.0   M    male
271095  135559  25.0   182.0    79.0   M    male
271096  135559  29.0   182.0    79.0   M    male
271097  135559  29.0   182.0    79.0   M    male
271098  135559  33.0   182.0    79.0   M    male
271099  135560  36.0   171.0    63.0   F  female
271100  135561  26.0     NaN     NaN   M    male
271101  135562  24.0   173.0    68.0   M    male
271102  135563  19.0   171.0    64.0   F  female
271103  135563  23.0   171.0    64.0   F  female
271104  135564  22.0   172.0    65.0   M    male
271105  135565  23.0   168.0    76.0   M    male
271106  135565  27.0   168.0    76.0   M    male
271107  135566  21.0   175.0    75.0   M    male
271108  135567  24.0   183.0    72.0   M    male
271109  135567  28.0   183.0    72.0   M    male
271110  135568  33.0   171.0    69.0   F  female
271111  135569  29.0   179.0    89.0   M    male
271112  135570  27.0   176.0    59.0   M    male
271113  135570  27.0   176.0    59.0   M    male
271114  135571  30.0   185.0    96.0   M    male
271115  135571  34.0   185.0    96.0   M    male

[271116 rows x 6 columns]

In [32]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Indexing and selecting data from Dataframes

In this part of the assignment we will work with the dataframes from above to select specific data using Pandas different methods and attributes. You have learned to use `loc[]` and `iloc[]` to do this.

[Back to top](#Index:) 

### Question 8
*5 points*

Create a new dataframe called `df_1` by selecting the following from the dataframe `df`:
- the rows with labels from 3 through 11.
- the columns from `ID` to `Height`.

In [33]:
### GRADED

### YOUR SOLUTION HERE
df_1 = df.loc[3:11, 'ID':'Height']
df_1


###
### YOUR CODE HERE
###

    ID                      Name Sex   Age  Height
3    4      Edgar Lindenau Aabye   M  34.0     NaN
4    5  Christine Jacoba Aaftink   F  21.0   185.0
5    5  Christine Jacoba Aaftink   F  21.0   185.0
6    5  Christine Jacoba Aaftink   F  25.0   185.0
7    5  Christine Jacoba Aaftink   F  25.0   185.0
8    5  Christine Jacoba Aaftink   F  27.0   185.0
9    5  Christine Jacoba Aaftink   F  27.0   185.0
10   6           Per Knut Aaland   M  31.0   188.0
11   6           Per Knut Aaland   M  31.0   188.0

In [34]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 9
*10 points*

Select all the rows from the dataframe `df` when the `Year` is greater than 1980. Assign this dataframe to `df_year`.

Next, select all the rows in `df_year` where `Team` is equal to "China", "United States", "Italy" or "Spain". Save your results in a dataframe called `df_country`.

**HINT**: To select only the desired countries, create a list containing the contries and use the function `isin` like so:

```Python
df.Team.isin([list with countries])
```

In [6]:
### GRADED

### YOUR SOLUTION HERE

#loc all records > 1980
df_year = df.loc[df.Year > 1980]

#index the Team using isin
idx = df_year.Team.isin(["China", "United States", "Italy", "Spain"])

#subset df_year w/ loc using the index for the Teams above
df_country = df_year.loc[idx]


df_country
###
### YOUR CODE HERE
###

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
139,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Individual All-Around,NaN
140,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Floor Exercise,NaN
141,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Parallel Bars,NaN
142,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
143,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Rings,NaN
144,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Pommelled Horse,NaN
148,55,Antonio Abadia Beci,M,26.0,170.0,65.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,"Athletics Men's 5,000 metres",NaN
158,62,Giovanni Abagnale,M,21.0,198.0,90.0,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Coxless Pairs,Bronze
159,63,Jos Luis Abajo Gmez,M,30.0,194.0,87.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Fencing,"Fencing Men's epee, Individual",Bronze
167,69,Tamara Abalde Daz,F,19.0,185.0,72.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
182,80,Jos Mara Abarca Plotas,M,22.0,186.0,83.0,Spain,ESP,1996 Summer,1996,Summer,Atlanta,Water Polo,Water Polo Men's Water Polo,Gold
186,84,Stephen Anthony Abas,M,26.0,165.0,55.0,United States,USA,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Featherweight, Freestyle",Silver
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270678,135367,Pietro Zucchetti,M,35.0,188.0,82.0,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Men's Skiff,NaN
270682,135371,Franco Zucchi,M,22.0,185.0,89.0,Italy,ITA,1988 Summer,1988,Summer,Seoul,Rowing,Rowing Men's Coxed Eights,NaN
270683,135371,Franco Zucchi,M,30.0,185.0,89.0,Italy,ITA,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Coxed Eights,NaN
270691,135377,Giorgio Zuccoli,M,30.0,177.0,73.0,Italy,ITA,1988 Summer,1988,Summer,Seoul,Sailing,Sailing Mixed Multihull,NaN
270692,135377,Giorgio Zuccoli,M,34.0,177.0,73.0,Italy,ITA,1992 Summer,1992,Summer,Barcelona,Sailing,Sailing Mixed Multihull,NaN
270708,135381,Angela Zuckerman (-Davre),F,26.0,175.0,65.0,United States,USA,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,500 metres",NaN
270709,135381,Angela Zuckerman (-Davre),F,26.0,175.0,65.0,United States,USA,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 3,000 metres",NaN
270710,135381,Angela Zuckerman (-Davre),F,28.0,175.0,65.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,500 metres",NaN
270711,135381,Angela Zuckerman (-Davre),F,28.0,175.0,65.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 3,000 metres",NaN
270717,135385,Reed Johann Zuehlke,M,23.0,178.0,72.0,United States,USA,1984 Winter,1984,Winter,Sarajevo,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
270724,135391,Loredana Zugna,F,32.0,170.0,55.0,Italy,ITA,1984 Summer,1984,Summer,Los Angeles,Shooting,"Shooting Women's Sporting Pistol, 25 metres",NaN
270762,135409,Mauro Carlo Zuliani,M,25.0,175.0,62.0,Italy,ITA,1984 Summer,1984,Summer,Los Angeles,Athletics,Athletics Men's 4 x 400 metres Relay,NaN
270803,135433,David Santos Zuniga,M,28.0,165.0,62.0,United States,USA,1996 Summer,1996,Summer,Atlanta,Wrestling,"Wrestling Men's Featherweight, Greco-Roman",NaN
270807,135437,"Mara Teresa ""Maite"" Ziga Domnguez",F,23.0,167.0,55.0,Spain,ESP,1988 Summer,1988,Summer,Seoul,Athletics,Athletics Women's 800 metres,NaN
270808,135437,"Mara Teresa ""Maite"" Ziga Domnguez",F,27.0,167.0,55.0,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Athletics,"Athletics Women's 1,500 metres",NaN
270809,135437,"Mara Teresa ""Maite"" Ziga Domnguez",F,31.0,167.0,55.0,Spain,ESP,1996 Summer,1996,Summer,Atlanta,Athletics,"Athletics Women's 1,500 metres",NaN
270813,135440,Miguel ngel Ziga lvarez,M,28.0,177.0,69.0,Spain,ESP,1988 Summer,1988,Summer,Seoul,Handball,Handball Men's Handball,NaN
270816,135443,Haritz Zunzunegui Echevarra,M,22.0,168.0,60.0,Spain,ESP,1998 Winter,1998,Winter,Nagano,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
270817,135443,Haritz Zunzunegui Echevarra,M,26.0,168.0,60.0,Spain,ESP,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
270818,135443,Haritz Zunzunegui Echevarra,M,26.0,168.0,60.0,Spain,ESP,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
270819,135443,Haritz Zunzunegui Echevarra,M,26.0,168.0,60.0,Spain,ESP,2002 Winter,2002,Winter,Salt Lake City,Cross Country Skiing,Cross Country Skiing Men's 10/10 kilometres Pu...,NaN
270820,135444,Juan Zunzunegui Guimerans,M,24.0,177.0,70.0,Spain,ESP,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Double Sculls,NaN
270821,135444,Juan Zunzunegui Guimerans,M,28.0,177.0,70.0,Spain,ESP,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Double Sculls,NaN
270822,135445,Zuo Yue,M,21.0,192.0,88.0,China,CHN,1984 Summer,1984,Summer,Los Angeles,Volleyball,Volleyball Men's Volleyball,NaN
270849,135458,Rami Zur,M,27.0,175.0,77.0,United States,USA,2004 Summer,2004,Summer,Athina,Canoeing,"Canoeing Men's Kayak Singles, 500 metres",NaN
270850,135458,Rami Zur,M,27.0,175.0,77.0,United States,USA,2004 Summer,2004,Summer,Athina,Canoeing,"Canoeing Men's Kayak Doubles, 500 metres",NaN
270851,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 500 metres",NaN
270852,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",NaN
270891,135471,Jos Zurera Alberca,M,22.0,162.0,52.0,Spain,ESP,1988 Summer,1988,Summer,Seoul,Weightlifting,Weightlifting Men's Bantamweight,NaN
270892,135471,Jos Zurera Alberca,M,26.0,162.0,52.0,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Weightlifting,Weightlifting Men's Bantamweight,NaN

In [48]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 10
*5 points*

Using the function `iloc()` select the rows with index 0, 10, 20, 40, 43, 66 and the columns with index 0, 3, 5 from the dataframe `df`. Store your results in a dataframe called `df_3`.

In [52]:
### GRADED

### YOUR SOLUTION HERE
df_3 = df.iloc[[0, 10, 20, 40, 43, 66], [0, 3, 5]]
df_3
###
### YOUR CODE HERE
###

    ID   Age  Weight
0    1  24.0    80.0
10   6  31.0    75.0
20   7  31.0    72.0
40  16  28.0    85.0
43  17  28.0    64.0
66  20  22.0    85.0

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Editing data in DataFrames and Combining DataFrames

In this section we will modify the internal structure and data of dataframes, deleting some of its columns and transforming others. We will also be combining our dataframes `df` and `regions` and learn different ways of working with them.

[Back to top](#Index:) 

### Question 11
*10 points*
    
Use a `left` join to combine the dataframes `df` and `regions`, in this particular order, into a new dataframe called `merged`. Set the column `NOC` as the key column.

**HINT**: Use the `pandas` function `merge`.

In [73]:
### GRADED

# Let's read our data again to have the original datasets
df = pd.read_csv("data/athlete_events.csv")
regions = pd.read_csv("data/noc_regions.csv")

### YOUR SOLUTION HERE
merged = pd.merge(df, regions, on = "NOC", how = "left")
merged.head()

###pd.merge(df_first_names, df_last_names, on = "STUDENT_ID", how = "inner")

###
### YOUR CODE HERE
###

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

### Grouping and Aggregating DataFrames

In this final section we will group and perform aggregations on our dataframes.

In [55]:
# Let's read our data again to have the original datasets
df = pd.read_csv("data/athlete_events.csv")
regions = pd.read_csv("data/noc_regions.csv")
regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

[Back to top](#Index:) 

### Question 12
*10 points*

Reshape the `regions` dataframe by setting:
- index = `region`
- columns = `NOC`
- values = `notes`

Assign the new dataframe to `regions_stacked`

In [61]:
### GRADED

### YOUR SOLUTION HERE

regions_stacked = regions.pivot(index = 'region', columns = 'NOC', values = 'notes')

regions_stacked
###
### YOUR CODE HERE
###

NOC,AFG,AHO,ALB,ALG,AND,ANG,ANT,ANZ,ARG,ARM,...,VIE,VIN,VNM,WIF,YAR,YEM,YMD,YUG,ZAM,ZIM
region,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Antigua,NaN,NaN,NaN,NaN,NaN,NaN,Antigua and Barbuda,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australasia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Boliva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trinidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,West Indies Federation,NaN,NaN,NaN,NaN,NaN,NaN
Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Virgin Islands, British",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Virgin Islands, US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,North Yemen,NaN,South Yemen,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 13
*10 points*

Group the entries of the dataframe `df` by `Season` and `Medal`. Assign the new dataframe to `season_medal`. In which Olympic games did the first group of athletes participate?

- a) 2014 Winter
- b) 1920 Summer
- c) 1994 Summer
- d) 1920 Winter

Assign character, as a string, to `ans13`.

In [35]:
### GRADED

### YOUR SOLUTION HERE
season_medal = df.groupby(["Season", "Medal"])

season_medal.first()
ans13 = "b"


###
### YOUR CODE HERE
###

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###

[Back to top](#Index:) 

### Question 14
*10 points*

Perform the following aggregation operations on `df`:

- compute the `max` and the `min` on the column `Age`.
- Compute the `mean` on the column `Weight`.
- compute the `max`, `min` and `mean` on the column `Height`.

Assign the new dataframe to `df_aggr`.

In [69]:
### GRADED

### YOUR SOLUTION HERE
df_aggr = df.aggregate({ "Age":['max', 'min'], 
              "Weight":['mean'],  
              "Height":['max', 'min','mean']}) 

df_aggr

###
### YOUR CODE HERE
###

       Age     Weight     Height
max   97.0        NaN  226.00000
mean   NaN  70.702393  175.33897
min   10.0        NaN  127.00000

In [ ]:
###
### AUTOGRADER TEST - DO NOT REMOVE
###