<h1>Python and MySQL</h1>

<h2>First import the python module containing the API</h2>

In [22]:
import pymysql

<h2>Set up a connection and create a cursor object</h2>

In [23]:
db = pymysql.connect("localhost","root","sprintX1!" ,database="schooldb") # IE - (URL for dbase, userid, your password to the dbase, dbase name)
cursor = db.cursor() #tells where your command is going to be placed to using the cursor

#create connections for multiple dbases, files, etc. and give them a cursor object, too

<h2>Execute a query and get the results</h2>

In [24]:
cursor.execute('show tables;')
cursor.fetchall()

(('course',), ('enrolls_in',), ('student',))

In [25]:
query = """
SELECT course.name, enrolls_in.score FROM student 
INNER JOIN enrolls_in ON student.ssn = enrolls_in.ssn 
INNER JOIN course ON course.number = enrolls_in.class
WHERE f_name = "JOHN";
"""
cursor.execute(query)
result = cursor.fetchall()     # result using 'fetchall' returns Tuples
print(result)

(('Data analytics', 93.0), ('Python', 95.0))

In [26]:
print ("course name", "score", sep='\t')
for i in result:
    print(i[0], i[1], sep='\t')

course name	score
Data analytics	93.0
Python	95.0

In [27]:
#insert a record: follow table layout and end w/ semi colon. Use explicit quotes ""
query = 'INSERT INTO Student VALUES ("025-55-5555", "Schulz", "Ron", "1234567890", "San Deigo");'
#NOTE: this will not show up if you query directly in mySQL b/c this insert is specfic to the client
#Python in this case You need to commit the change after you insert to make it show up in mySQL)

In [28]:
query = 'Select * from Student;'
cursor.execute(query)
cursor.fetchall()

(('111-22-3333', 'JOHN', 'CHILDS', '6461231212', 'New York', '10025'),
 ('123-12-1234', 'Mary', 'Arias', None, 'New York', '10011'),
 ('222-33-4455', 'Lila', 'Pennington', '4251231212', 'Seattle', '98105'),
 ('555-11-7777', 'Roberto', 'Perez', '9173335479', 'San Francisco', '94110'))

In [29]:
db.commit()